{% extends "base.html" %}

{% load thumbnail %}
{% load taggit_extras %}

{% block title %}{{ image.title }} :: Gallery :: {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/gallery/gallery.css" />
    {% thumbnail image.image "780x482" as im %}
    <link rel="image_src" href="{{ im.url }}" />
    <meta property="og:title" content="{{ image.title }}" />
    <meta property="og:image" content="https://oddstr13.openshell.no{{ im.url }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://oddstr13.openshell.no{% url 'gallery.views.image' image.id %}"/>
    <meta property="og:site_name" content="Odd's website"/>
    <meta property="og:description" content="{{ image.description }}"/>
    {% endthumbnail %}
{% endblock %}

{% block content-class %}{% endblock %}
{% block content %}
    {% get_taglist as tags for limage %}
    <div class="galleryitem galleryimage">
        <h1>{{image.title}}</h1>
        {% thumbnail image.image "780x482" as im %}
        <a href="{{ image.image.url }}" title="Click for full size"><img style="padding:{{ im|margin:'780x482' }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ image.title }}" /></a>
        {% endthumbnail %}
        <ul class="taglist">
            {% for tag in tags %}<li class="item"><a href="{% url 'gallery.views.by_tag' tag %}">{{tag}}</a></li>{% endfor %}
        </ul>
        
        <code>Taken by {{ image.photograph }}, {{ image.taken }} using {{ image.camera }}</code>
        
        <p class="gallerydescription">{{image.description}}</p>
    </div>
    <div class="clear"></div>
{% endblock %}
